<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <!-- <link rel="stylesheet" href="./css/style2.css"> -->

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>  
    <header>
        <h2 class="logo">logo</h2>
        <nav class="navigation">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Contact</a> 
            <button class="btnlogin-popup">Login</button>
        </nav>
    </header>

    <div class="wrapper">
        <span class="icon-close"><i class="fa-solid fa-xmark"></i></span>
        <div class="form-box login">
            <h2>Login</h2>
            <form action="/gpt" onsubmit="return validate()">
                <div class="input-box">
                    <span class="icon"><i class="fa-solid fa-envelope"></i></span>
                    <input type="email" name="email" required id="email">
                    <label for="email">Email</label>
                </div>
                <div class="input-box">
                    <span class="icon"><i class="fa-solid fa-lock"></i></span>
                    <input type="password" name="password" required id="password">
                    <label for="password">Password</label>
                </div>
                <div class="remember-forget">
                    <label><input type="checkbox" name="" id="">Remember me</label>
                    <a href="#">Forgot Password</a>
                </div>
                <button type="submit" class="btn">login</button>
                <div class="login-register">
                    <p>Don't have an account?<a href="#" class="register-link">Register</a></p>
                </div>
            </form>
        </div>


        <div class="form-box register">
            <h2>Registration</h2>
            <form action="/login" onsubmit="return validate()">
                <div class="input-box">
                    <span class="icon"><i class="fa-solid fa-user"></i></i></span>
                    <input type="text" name="" required id="">
                    <label for="">Username</label>
                </div>
                <div class="input-box">
                    <span class="icon"><i class="fa-solid fa-envelope"></i></span>
                    <input type="email" name="" required id="">
                    <label for="">Email</label>
                </div>
                <div class="input-box">
                    <span class="icon"><i class="fa-solid fa-lock"></i></span>
                    <input type="password" name="" required id="">
                    <label for="">Password</label>
                </div>
                <div class="remember-forget">
                    <label><input type="checkbox" name="" id="">I agree to the terms & conditions</label>
                </div>
                <button type="submit" class="btn">Register</button>
                <div class="login-register">
                    <p>Already have an account?<a href="#" class="login-link">Login</a></p>
                </div>
            </form>
        </div>

    </div>
    <!-- <script src="./js/script.js"></script> -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    
</body>
</html>